/* Custom App CSS Below for the Scrollbar --------------------------------- */


/* width */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e !important;  
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff8800;
  border-radius: 3px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff8800 !important; 
}

